.logo {
  white-space: nowrap;
  text-decoration: none;
  padding-top: 26px;
  padding-bottom: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (max-width: 1199px) {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
  }
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}
