.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (max-width: 1199px) {
    width: 100%;
    max-width: 450px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  padding: 0;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--transit);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.form-title {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.contacts-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-input,
.form-comment {
  margin: 0;
  padding: 12px 42px;
  font-size: 16px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--transit);

  &:focus,
  &:hover {
    border: 1px solid var(--accent-color);
  }
}

.form-icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: inherit;
  transition: fill var(--transit);

  .form-input:focus ~ &,
  .form-input:hover ~ &,
  .form-input:not(:placeholder-shown) ~ & {
    fill: var(--accent-color);
  }
}

.form-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.policy-checked {
  opacity: 0;
  transition: opacity var(--transit);

  .check-policy:checked + .policy-icon > & {
    opacity: 1;
  }
}

.check-policy:unchecked + .policy-icon > .policy-unchecked {
  opacity: 0;
}

.label-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}

.label-policy {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.71;
  }
}

.label-policy a {
  color: var(--accent-color);
}

.form__button {
  margin-left: auto;
  margin-right: auto;
}
