.features {
  @include section;
}

.features__container {
  @include container;
}

.features__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features__block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__item {
  @media screen and (min-width: 768px) {
    width: calc((100% - 1 * 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
  }
}

.features__title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

// Original

// .features__list {
//   display: flex;
//   flex-wrap: wrap;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
// }

// .features__block {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 120px;
//   background-color: #f5f4fa;
//   border-radius: 4px;
// }

// .features__item {
//   width: calc((100% - 3 * 30px) / 4);
//   margin-right: 30px;

//   &:nth-child(4n) {
//     margin-right: 0;
//   }

//   &:nth-last-child(-n + 4) {
//     margin-bottom: 0;
//   }
// }

// .features__title {
//   margin-top: 30px;
//   margin-bottom: 10px;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.2;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--title-text-color);
// }
